APP_NAME=SubscriptionEngine
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=suscripciones
DB_USERNAME=root
DB_PASSWORD=

GATEWAY_RESULT=random
GATEWAY_WEBHOOK_URL=http://127.0.0.1:8000/api/webhooks/gateway
